.container {
    display: flex;
    margin-top: 6%;
}

.h2{ 
    font-weight: bold;
}

.img{
    background-color: #EFEFEF;
    border-radius: 4px;
    width: 59px;
    height: 59px;
}

.text{
    margin-left: 3%;
    font-size: 14px;
}

.buttonShop{
    width: 100%;
    height: 30px;
    margin-top: 2%;
    background-color: #365FAC;
    color: white; 
    border: #365FAC;
    border-radius: 2px;
}